body {
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
    background-color: gray;
}
div#root {
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

h3 {
    color: #50a3d9;
    margin-bottom: 0.2rem;
}

h1 ~ div>h3, h1 ~ section>h3 {
    margin-top: 0.2rem;
}

h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

p, ul {
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}
p:empty {
    margin-bottom: 1rem;
}

a:any-link {
    text-decoration: none;
    color: inherit;
}

section {
    margin-bottom: 1rem;
    padding-left: 1rem;
    margin-left: 0.2rem;
    /*border-left: 1px solid #50a3d9;*/
}

@media print {
    body {
        font-size: 10pt;
        margin: 0;
    }

    p, blockquote {
        orphans: 3; /* pas de ligne seule en bas */
        widows: 3; /* pas de ligne seule en haut */
    }
    blockquote, ul, ol, section {
        page-break-inside: avoid; /* pas de coupure dans ces élements */
        page-break-before: avoid;
    }
    h1, h2, h3, h4, h5, caption {
        page-break-after: avoid; /* pas de saut après ces éléments */
    }
    h3 {
        page-break-before: auto;
    }
}
