body {
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}

h3 {
    color: #50a3d9;
    margin-bottom: 0.2rem;
}

h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

p {
    margin-bottom: 1rem;
    margin-top: 0.2rem;
}

a:any-link {
    text-decoration: none;
    color: inherit;
}